body {
  width:100%;
  font-family: Abel;
}

header {
  width:100%;
  height:767px;
}

h1{
  text-align: center;
}
nav {
  width:20%;
  height: auto;
  float:left;
  background-color: #353434;
  color:white;
}

#intro {
text-shadow: 1px #F6B44E  ;
margin:2% 1%;
text-align:center;
}

hr {
  display: block;
  width: 100%;
  border-top: 3px solid #F6B44E ;
}

.Logo {
  width:100%;
  height:5%;
  color: white;
  font-size: 35px;
  text-align:center;
  margin :0% 0% 1% 0%;
  padding:2% 1%;
  background-color: #353434;
}

  li {
  display:block;
  font-size: 20px;
  padding:17% 28% 15% 30%;
}

.imgSlider{
  width:76%;
  margin: 0% 2% 5% 1%;
  height:auto;
  float:right;
  border: 1px solid #353434;
}

#imgSlider-1 {
  width:95%;
  padding:3% 2% 0% 2%;
  height:auto;
  border: 1px dotted #353434;
}

#imagecaption{
  text-align: center;
  height:4%;
  padding:1% 3% 1% 3%;
}

.section2 {
margin-top: 2%;
width:100%;
height:540px;
background-color: #F6B44E;
opacity: 0.80;
border: 1px solid black;
}

.section2-left{
  height: auto;
  width: 46%;
  padding: 3%;
  margin-left: 1%;
  margin-right: 1%;
  background-color: white;
  float:left;
  border: 1px solid black;
}

.section2-left p{
  font-size: 15px;
font-family: inherit;
}


form {
  width:41%;
  height: auto;
  background-color: #353434;
  color: white;
  text-align: left;
  float: right;
  padding:2% 0% 1% 2%;
  margin-right: 2%;
  border: 1px solid black;

}

#proceedButton{
margin-left: 40%;
}

footer{
  height:40px;
  text-align: center;
  padding-top: 22px; 
}
